
<%if(genre == "headFoot" ) {%>
  <!-- <footer class="page-footer font-small text-white bg-primary ">

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://mdbootstrap.com/" class="text-white"> Amylan | Connecting Strong Peoples </a>
    </div>
  
  </footer> -->
<%}%>



