<%if(genre == "headFoot") {%>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Amylan</a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            <%if(locals.user) {%> 
                <a href="/users/sign-out">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Sign Out</button>
                </a> 
            <%} else {%>
                <a href="/users/sign-in">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Sign In</button>
                </a> 
                <a href="/users/sign-up">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Sign Up</button>
                </a> 
            <%}%>
            </div>
          </nav>

    </header>
<%}%>

