<link rel="stylesheet" href="/css/forgot_pass.css">

<div class="sign-up__container">
    <div class="form-div">
        <div class="title">
            Amylan - Reset Password .. 
        </div>
        <form method="post" action="/users/reset-window">
            <div class="inputWithIcon">
                <input class="input-tag" type = "email" name="email" placeholder="Email" required>
                <i class="far fa-envelope"></i>
            </div>
            
            <button class="signUp-btn" type="submit"> Send Email </button>
        </form>
    </div>
</div>