<link rel="stylesheet" href="/css/forgot_pass.css">
<% if(resetUser.isValid) {%>
    <div class="sign-up__container">
        <div class="form-div">
            <div class="title">
                Amylan - Reset Password .. 
            </div>
            <form method="post" action="/users/reset-credentials?accessToken=<%=resetUser.accessToken%>">
                <div class="inputWithIcon">
                    <input class="input-tag" type = "password" name="password" placeholder="Password" required>
                    <i class="fas fa-unlock"></i>
                </div>
                <div class="inputWithIcon">
                    <input class="input-tag" type = "password" name="confirmPass" placeholder="Confirm Password" required>
                    <i class="fas fa-unlock"></i>
                </div>
                
                <button class="signUp-btn" type="submit"> Send Email </button>
            </form>
        </div>
    </div>

<%} else {%>
    <h1>Your Access Token is Expired !! </h1>

<%}%>