<link rel="stylesheet" href="/css/signup.css">

<div class="sign-up__container">
    <div class="form-div">
        <div class="title">
            Sign Up 
        </div>
        <form method="post" action="/users/create-account">
            <div class="inputWithIcon">
                <input class="input-tag name" type = "text" name="name" placeholder="Name" required>
                <i class="far fa-user"></i>
            </div>
            <div class="inputWithIcon">
                <input class="input-tag" type = "email" name="email" placeholder="Email" required>
                <i class="far fa-envelope"></i>
            </div>
            <div class="inputWithIcon">
                <input class="input-tag" type = "password" name="password" placeholder="Password" required>
                <i class="fas fa-unlock"></i>
            </div>
            <div class="inputWithIcon">
                <input class="input-tag" type = "password" name="confirmPass" placeholder="Confirm Password" required>
                <i class="fas fa-unlock"></i>
            </div>
            <button class="signUp-btn" type="submit"> Create Account </button>
        </form>

        <div class="signUp-text">
            <hr class="border-line"></hr>
            <div> Or - Sign In with </div>
            <hr class="border-line"></hr>

        </div>
        <div class="icons">
            <a href="/users/auth/google">
                <div class="img-div">
                    <img src="/images/SignUp/googlelogo.png" alt="google">
                </div>
            </a>
            <a href="/users/auth/facebook">
                <div class="img-div">
                    <img src="/images/SignUp/fblogog.svg" alt="facebook">
                </div>
            </a>
            <a href="/users/auth/github">
                <div class="img-div">
                    <img src="/images/SignUp/github logo.png" alt="github">
                </div>
            </a>
        </div>
        <div class="other-link">
            Already have a account? &nbsp;
            <a href="/users/sign-in">Log In</a>
        </div>
    </div>
</div>